{% extends "template.html" %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-300 col-md-12 mx-auto">
          <div class="site-heading">
            <br>
            <h1>Welcome to HALALIT</h1>
            <br>
            <span class="subheading">Halal & Healthy Product Analyzer</span>
            <br>
            <br>
            <br>
            <br>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-20 col-md-35 ">
          
            <h3>
              Providing valuable and much-needed information readily 
              available at their fingertips to make better informed halal dietary choices.
              Halalit is born out of frustration with reading through all the long worded 
              hard to pronounce time consuming ingredients that so many of us muslims struggle with every day.
            </h3>
        
      
      </div>
    </div>
  </div>
  {% endblock %}

