*{
	padding: 0px;
	margin: 0px;
   
}

header{
	background-image: linear-gradient(rgba(0,0,200),rgba(0,0,200)), url("../image/back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 18.5vh;
	border: 2px;
	border-color: rgb(0,0,100);
}
.clearfix:after{
	content:'.' ;
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row{
	max-width: 1180px;
    margin: 0 auto;
}
.logo{
	height: 120px;
	width:auto;
	float:left;
}
.main-header{
	float: right;
	margin: 45px;

}
.main-header li{
	display: inline-block;
	list-style: none;
	margin-left: 70px;

}
.main-header li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 100px;

}
